@using Microsoft.AspNet.Identity
@using TastTest.Models
@model Team

@{
    /**/

    ViewBag.Title = "Results";
}

<h2>Results</h2>

<div>
    <h4>Успех</h4>
    <hr />
    <p>Вы удачно зарегитрироваись на мероприятие!!</p>
</div>


    <p>
        @Html.ActionLink("Back to List", "Index")
    </p>
